.milestone-container > p {
    font-size: 16px;
}
.my-text-bordo {
    color: #b34d1e !important;
}

.image-container{
    text-align: center;
    display: block;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 100%;
  }

  .transparent-layer:hover {
    background-color: gray;
}

.enlargedImageContainer {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: #333333;
  opacity: 0.97;
  z-index: 99999;
}

.enlargedImage {
  max-width: 70%;
  max-height: 70%;
  position: relative;
  margin: auto;
  display: block;
  transform: translateY(-50%);
  top: 50%;
}

.closeEnlargedImage {
  border: none;
  outline: none;
  position: absolute;
  right: 20px;
  top: 20px;
  background-color: #333333;
  color: white;
  cursor: pointer;
}

.wireframes-container {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    margin-bottom: 50px;
}

.wireframe-image-cointainer {
  margin: auto;
}

.imageLabel {
  width: 100%;
  text-align: center;
}

.wireframe-image {
    width: max-content;
    height: 200px;
    margin: auto;
    display: block;
    cursor: pointer;
  }
  
  .transparent-layer {
      background-color: blue;
  }

  .button {
    align-self: center;
    display: inline-block;
    border-radius: 30px;
    background-color: #b34d1e;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 28px;
    padding: 20px;
    width: 200px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
  }
  
  .button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  .button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  .button:hover span {
    padding-right: 25px;
  }
  
  .button:hover span:after {
    opacity: 1;
    right: 0;
}
.responses-container {
  margin-bottom: 25px;
}

.employee-1 {
  color: #960000f5;
  margin-right: 10px;
}

.employee-2 {
  color: #db4cff;
  margin-right: 10px;
}

.employee-3 {
  color: #31d400;
  margin-right: 10px;
}

.persona-container {
  text-align: center;
  margin-top: 30px;
}

.persona-picture {
  border-radius: 50%;
  background: whitesmoke;
}

.persona-details-container {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
  text-align: left;
}

.persona-first-container {
  background: whitesmoke;
  padding: 10px;
  border-radius: 10px;
  width: 25%;
}

.persona-second-container {
  background: whitesmoke;
  padding: 10px;
  border-radius: 10px;
  width: 70%;
}

.social-networks-container {
  display: flex;
  justify-content: space-between;
  margin-left: 350px;
  margin-right: 350px;
  margin-top: 50px;
  margin-bottom: 30px;
}